.gameContainer{
  margin: 55px 5% 5% 10%;
}
.cardContainer{
  min-height: 200px;
  min-width: 150px;
  margin: 5px;
  padding: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.qCovered{
  background-image: url("../assets/pluto.jpg");
  background-size: cover;
}
.aCovered{
  background-image: url("../assets/Jupiter.jpg");
  background-size: cover;
}
.selected{
  box-shadow: 0 0 15px rgba(81, 203, 238, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
.matched{
  box-shadow: 0 0 15px rgba(0, 255, 0, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
.mismatched{
  box-shadow: 0 0 15px rgba(255, 0, 0, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}