.gameContainer{
  margin: 55px 5px 5px 5px;
}
.cardContainer{
  margin: 10px;
  padding: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.covered{
  background-image: url("../assets/pluto.jpg");
  background-size: cover;
}
.selected{
  box-shadow: 0 0 15px rgba(81, 203, 238, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
.matched{
  box-shadow: 0 0 15px rgba(0, 255, 0, 1) !important;
  border: 1px solid rgba(81, 203, 238, 1) !important;
}
stats-container{
  margin: 10px 10px 10px 10px;
}