<div>
  <div class="cardContainer col-xs-3 col-sm-3 col-md-3 col-lg-3 panel panel-default"
      ng-class= "{'selected': deck.cards[CID].state === 'qSelected',
                  'matched': deck.cards[CID].state === 'matched',
                  'mismatched': deck.cards[CID].state === 'qMismatched',
                  'qCovered': deck.cards[CID].state !== 'qSelected' &&
                             deck.cards[CID].state !== 'matched' &&
                             deck.cards[CID].state !== 'qMismatched'}"
      ng-click="select(this.CID, 'question')" 
      ng-repeat="CID in deck.qList" 
      ng-bind-html="deck.cards[CID].state === 'qSelected' ||
        deck.cards[CID].state === 'matched' ||
        deck.cards[CID].state === 'qMismatched' ?
        deck.cards[CID].obj.question : ''">
  </div>
</div>